{% extends 'base.html.twig' %}

{% block title %}Reaction{% endblock %}

{% block body %}
    <h1>Reaction</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reaction.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ reaction.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reaction_index') }}">back to list</a>

    <a href="{{ path('app_reaction_edit', {'id': reaction.id}) }}">edit</a>

    {{ include('reaction/_delete_form.html.twig') }}
{% endblock %}
